.grid{
    width: 1220px;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* head  */

.head{
    height: 50px;
    background-color: var(--bg-white);
    border-bottom: 1px solid var(--border-white);
}

.head__menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.head__menu-tel-icon{
    margin-right: 10px;
}

.head__menu-nav-item i {
    margin-right: 5px;
}

.head__menu-nav-item{
    margin-right: 20px;
}

.head__menu-nav-item:last-child{
    margin-right: 0;
}

.head__menu-button{
    background-color: var(--black-blue);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 5px;
}

/* nav  */

.nav{
    height: 100px;
}

.nav__box{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo{
    margin-right: 102px;
}

.nav__menu-list{
    display: flex;
    align-items: center;
}

.nav__menu-item{
    display: block;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 5px 10px;
    transition: all 0.1s ease-in;
}

.nav__menu-item.active{
    border: 2px solid var(--black-blue);
}

.nav__menu-item:hover{
    color: var(--blue);
}

.nav__menu-icon-list{
    display: flex;
    align-items: center;
}

.nav__menu-icon-item{
    padding: 10px;
    font-size: 18px;
}

.nav__menu-icon-number{
    padding: 2px 10px 2px 5px;
    background-color: var(--blue);
    color: var(--white);
    margin-left: 10px;
    position: relative;
}

.nav__menu-icon-number::before{
    position: absolute;
    content: "";
    top: 0%;
    right: 102%;
    border-width: 11px 11px;
    border-style: solid;
    border-color: transparent var(--blue) transparent transparent;
}

/* subnav  */

.subnav{
    background-color: var(--bg-white);
    border: 1px solid var(--border-white);
    height: 200px;
}

.subnav__box{
    height: 100%;
    display: flex;
    /* align-items: center; */
}

.subnav__menu{
    margin-right: 590px;
}

.subnav__menu-img-box{
    margin: 40px 0px 90px 0px;
}

.subnav__menu-item{
    color: var(--blue);
    /* font-weight: 600; */
}

.subnav__menu-item.active{
    color: var(--text);
}

.subnav__menu-item i{
    color: var(--text);
    margin: 0 10px 0 10px;
}

.subnav__cart{
    display: flex;
    align-items: center;
}
